.title {
  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 100px;
  margin-top: 60px;
  border: solid 1px black;

  /* margin ; */
}
